In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
usdt_df = pd.read_csv(Path('../resources/coin_Tether.csv'), index_col='SNo')
usdt_df

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Tether,USDT,2015-02-26 23:59:59,1.212320,1.194710,1.210420,1.205740,5.955460e+00,3.033642e+05
1,2,Tether,USDT,2015-03-02 23:59:59,0.607890,0.568314,0.571249,0.606502,3.032500e+00,1.525959e+05
2,3,Tether,USDT,2015-03-03 23:59:59,0.606229,0.604416,0.605129,0.606229,3.031130e+00,1.525272e+05
3,4,Tether,USDT,2015-03-06 23:59:59,1.000000,1.000000,1.000000,1.000000,9.264720e+01,2.516000e+05
4,5,Tether,USDT,2015-03-07 23:59:59,1.000000,1.000000,1.000000,1.000000,5.819680e+04,2.516000e+05
...,...,...,...,...,...,...,...,...,...,...
2184,2185,Tether,USDT,2021-02-23 23:59:59,1.000542,0.997413,1.000168,1.000032,1.959649e+11,3.476222e+10
2185,2186,Tether,USDT,2021-02-24 23:59:59,1.000882,0.999538,0.999995,1.000757,1.290074e+11,3.491021e+10
2186,2187,Tether,USDT,2021-02-25 23:59:59,1.001207,0.999795,1.000746,1.000149,1.054643e+11,3.492798e+10
2187,2188,Tether,USDT,2021-02-26 23:59:59,1.000379,0.998726,1.000075,0.999994,1.246241e+11,3.500996e+10
2188,2189,Tether,USDT,2021-02-27 23:59:59,1.001311,0.999374,0.999960,1.001178,9.471004e+10,3.502403e+10

In [3]:
usdt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2189 entries, 0 to 2188
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SNo        2189 non-null   int64
 1   Name       2189 non-null   object
 2   Symbol     2189 non-null   object
 3   Date       2189 non-null   object
 4   High       2189 non-null   float64
 5   Low        2189 non-null   float64
 6   Open       2189 non-null   float64
 7   Close      2189 non-null   float64
 8   Volume     2189 non-null   float64
 9   Marketcap  2189 non-null   float64
dtypes: float64(6), int64(1), object(3)
memory usage: 171.1+ KB

In [ ]:
ltc_df['Date'] = pd.to_datetime(ltc_df['Date'])
ltc_df.dtypes